@font-face {
    font-family: "blackWidow";
    src: url("/css/fonts/blackWidow/widow.ttf");
}

@font-face {
    font-family: "glass";
    src: url("/css/fonts/glass/glass.ttf");
}

* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-size: 20px;
    font-family: glass, sans-serif;
    background: url("https://pngimg.com/uploads/popcorn/popcorn_PNG61.png"), linear-gradient(0deg, rgba(252, 153, 153, 1) 0%, rgba(255, 55, 55, 1) 25%, rgba(255, 0, 0, 1) 50%, rgba(255, 55, 55, 1) 75%, rgba(252, 153, 153, 1) 100%);
}

nav {
    font-family: blackWidow, sans-serif;
    background-color: #C8BFC7;
    padding: .5em;
    margin-bottom: 1em;
    font-size: 30px;
    text-align: center;
    display: flex;
}
nav p {
    margin: 0 1em;
}
nav label {
    margin-left: 1em;
}
nav p:nth-of-type(1) {
    margin-right: auto
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: purple;
}
/*Main Page Layouts*/
.container {
    background-color: transparent;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-evenly;
}

.movie-container {
    text-align: center;
    background-color: #C8BFC7;
    max-width: calc(300px - 1em);
    margin: .5em .5em;
    border-radius: 10px;
    box-shadow: 10px 5px 5px grey;
}

.movie-container img {
    width: calc(300px - 1em);
    height: 450px;
    border-radius: 10px;
}

.movie-container p {
    font-family: blackWidow, sans-serif;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Create Movie Form Styles*/
.create-movie-form {
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: #609bd9;
    width: 50vw;
}

.create-movie-form h1 {
    color: white;
    text-align: center;
    margin-top: 1em;
}

.create-movie-form form {
    display: flex;
    margin: auto auto;
    flex-direction: column;
    width: 50%;
}

.create-movie-form form input {
    margin: 1em 0;
}

.create-movie-form form button {
    width: 50%;
    margin: 0 auto 1em;
}

#close-form {
    position: absolute;
    right: 10px;
    border: none;
    background: none;
}

/*Individual Movie Information Panel Styles*/
#movie-info {
    background-color: rgba(96, 155, 217, 0.8);
    position: absolute;
    top: 120px;
    width: 100%;
    z-index: 10;
    border-radius: 10px;
}

#movie-info-insert {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 100%;
    margin: 1em auto;
}

#single-image {
    width: 30%;
}

#main-movie-info {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: calc(70% - 2em);
    justify-content: center;
}
#main-movie-info h2 span {
    margin-left: .5em;
}
#main-movie-info div {
    margin: 1em 0;
}
.facts span:before {
    content: '\25AA';
    margin: 0 .5em;
}
#ratings span:nth-of-type(1){
    border: 2px solid black;
    padding: .5em;
    border-radius: 100%;
    background-color: black;
    color: white;
}
#ratings span {
    margin-left: .5em;
}
#links {
    display: flex;
    justify-content: end;
}
#links a {
    margin: 0 .5em;
}
.edit-movie-section form {
    justify-content: center;
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    width: 50%;
    margin-bottom: 1em;
}
.edit-movie-section {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    z-index: 10;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: rgba(96, 155, 217, 0.8);
    width: 50vw;
    align-items: center;
}
.edit-movie-section form input {
    margin: .5em 0;
}
#editMovie {
    width: 50%;
    margin: 0 auto;
}
h1 {
    text-align: center;
    margin-top: .5em;
}
#close-edit-form{
    position: absolute;
    right: 10px;
    border: none;
    background: none;
}

/*Hidden and Overlay Styles*/
.hidden {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

