:root {
    --bg-color: #584D39;
    --text-color: #f0eef1;
    --secondary-text-color: #F3DE8A;
}
@font-face {
    font-family: test;
    src: url("font/gibroma.otf");
}
* {
    margin: 0;
    padding: 0;
    color: var(--secondary-text-color);
    text-shadow: 2px 2px black;
    font-family: test;
}
h1{
    color: var(--secondary-text-color);
    text-shadow: 4px 4px black;
}
#hero {
    width: 320px;
    height: 667px;
    background-image: url("img/coffee-cup-milk-foam.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
}

.navbar {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    top: 0;
}

.navbar .logo {
    width: 150px;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    width: 180px;
    cursor: pointer;
    padding-left: 40px;
}

button {
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.container {
    width: 100vw;
    height: 100vh;
    background: rgba(86, 86, 86, 0.7);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 120px;
    z-index: 9;
}

.info {
    width: 100%;
    color: #fff;
    position: absolute;
    top: 60px;
    transform: translateY(-50%);
    padding-top: 30px;
    flex-direction: column;
}

.info h1 {
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 90px;
    text-align: center;
}

.info p {
    font-size: 15px;
    margin: 20px 0;
    line-height: 20px;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    color: var(--secondary-text-color);
}

.info input {
    width: 50%;
    padding: 8px 10px;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background: transparent;
    color: #ffffff;
    font-size: 12px;
}

.roast-selection {
    padding-top: 5px;
    padding-left: 10px;
    color: ;
}

.search-roast-input {
    padding-top: 20px;
    padding-left: 30px;
}

.info select {
    width: 50%;
    padding: 8px 10px;
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background: transparent;
    color: #ffffff;
}

.info select option {
    background-color: black;
}

::placeholder {
    color: #ccc;
}

#coffees {
    position: absolute;
    flex-wrap: wrap;
    display: flex;
    font-size: 12px;
    width: 100%;
    padding-top: 3em;
    top: 220px;
    color: #fff;
}

.coffee {
    display: flex;
    flex-basis: 50%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.coffee p {
    margin: 0 0 0 8px;
    font-style: italic;
    padding: 0;
    color: #fff;
}
.coffee h2{
    color: #7798AB;
    letter-spacing: 2px;
}

#back {
    text-decoration: none;
    position: absolute;
    top: 305px;
    left: 40%;
}
#back:hover{
    color: red;
}


.hidden {
    display: none;
}
@media screen and (min-width: 768px) and (max-width: 996px) {
    #hero {
        width: 768px;
        height: 1024px;
    }

    .user img {
        padding-left: 430px;
    }

    .container {
        height: 100%;
    }

    .info {
        padding-top: 100px;
    }

    .info h1 {
        font-size: 40px;
    }

    .info p {
        font-size: 20px;
    }

    .info input {
        padding: 10px 20px;
    }

    .roast-selection {
        padding-left: 175px;
    }

    .search-roast-input {
        padding-left: 200px;
    }

    .info select {
        padding: 4px 20px;
        font-size: 20px;
    }

    ::placeholder {
        font-size: 20px;
    }

    #coffees {
        top: 350px;
    }
    #back {
        top: 400px;
        left: 50%;
    }
    .coffee{
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    #hero {
        width: 100vw;
        height: 100vh;
        background-size: cover;
        position: relative;
    }

    .navbar {
        width: 100%;
        top: 15px;
    }

    .navbar .logo {
        margin: 30px 0;
    }

    .user img {
        width: 175px;
    }

    .container {
        width: 50%;
        top: 0;
        z-index: 5;
    }

    .info {
        width: 550px;
        top: 180px;
        left: 3%;
    }

    .info h1 {
        font-size: 30px;
        text-align: center;
        padding-right: 50px;
    }

    .info p {
        line-height: 15px;
        padding-right: 100px;
    }


    .roast-selection {
        padding-left: 35px;
    }

    .search-roast-input {
        padding-left: 50px;
    }

    .info select {
        width: 50%;
    }

    .info select option {
        background-color: black;
    }

    #coffees {
        top: 340px;
    }
    #back {
        top: 325px;
        left: 40%;
    }

    .vapor {
        position: relative;
        display: flex;
        z-index: 1;
        padding: 0 20px;
        justify-content: center;
    }

    .vapor span {
        position: relative;
        top: 80px;
        left: 500px;
        display: block;
        margin: 0 2px 50px;
        min-width: 8px;
        height: 120px;
        background: #fff;
        border-radius: 50%;
        animation: animate 5s linear infinite;
        opacity: 0;
        filter: blur(10px);
        animation-delay: calc(var(--i) * -0.5s);
    }

    @keyframes animate {
        0% {
            transform: translateY(0) scaleX(1);
            opacity: 0;
        }
        15% {
            opacity: 1;
        }
        50% {
            transform: translateY(-150px) scaleX(10);
        }
        95% {
            opacity: 0;
        }
        100% {
            transform: translateY(-300px) scaleX(15);
        }
    }
}
@media screen and (min-width: 1440px) {
    .info {
        left: 15%;
        top: 170px;
    }
}
@media screen and (min-width: 1880px){
    .vapor span{
        left: 800px;
        top: 250px;
    }
}
@media screen and (min-width: 2560px) {
    .info {
        left: 3%;
        top: 400px;
        width: 100%;
    }
    .info h1 {
        font-size: 60px;
    }
    .navbar .logo {
        width: 300px;
        padding-top: 60px;
    }

    .user img {
        width: 300px;
    }

    .info p {
        font-size: 30px;
        padding-top: 20px;
        padding-right: 100px;

    }

    .roast-selection label {
        font-size: 25px;
    }
    .roast-selection{
        padding: 50px 0 0 230px;
    }
    .roast-selection select {
        font-size: 25px;
    }

    #roast-search {
        font-size: 25px;
    }

    #search-coffee {
        font-size: 25px;
    }
    .search-roast-input{
        padding: 50px 0 0 230px;
    }
    .search-roast-input a {
        padding-left: 200px;
    }

    #add-coffee-input {
        font-size: 25px;
    }

    #add-submit {
        font-size: 25px;
    }

    .vapor span {
        left: 1000px;
        top: 180px;
    }

    .coffee p {
        font-size: 20px;
    }

    .coffee {
        font-size: 25px;
    }
    .coffee h2{
        text-shadow: 5px 5px black;
    }
    #coffees{
        top: 750px;
    }
    #back {
        top: 500px;
        left: 40%;
        font-size: 20px;
        cursor: pointer;
    }
}
