* {
    font-family: "Comic Sans MS", sans-serif;
}

.mapboxgl-ctrl-geocoder--input {
    font-family: "Comic Sans MS", sans-serif;
}

body {
    position: relative;
    height: 100vh;
    background-size: cover;
}

#main-div {
    flex-direction: column;
}

#main-info {
    margin-top: 1em;
}

#main-info .card-body {
    justify-content: space-between;
    align-items: center;
}

#current-day-info {
    margin-bottom: 1em;
}

#curr_temps {
    align-items: center;
    justify-content: space-between;
}

#other-forecasts {
    display: none;
}

#temps {
    flex-direction: column;
}

.card {
    border-radius: 10px;
    border: 2px solid #28688C;
    background-size: cover;
}

#map {
    margin-top: 1em;
    width: 100%;
    height: 300px;
    border: 3px solid #28688C;
    border-radius: 10px;
}

.clear-day {
    color: black;
    background: linear-gradient(0deg, rgba(201, 246, 255, 1) 0%, rgba(151, 235, 244, 1) 25%, rgba(122, 229, 245, 1) 50%, rgba(101, 221, 239, 1) 75%, rgba(53, 214, 237, 1) 100%) no-repeat;
}

.clear {
    color: black;
    background-image: url("/weathermap/img/clear2.jpg");
    background-repeat: no-repeat;
}

.nightTime {
    color: white;
    background: linear-gradient(0deg, rgba(1, 66, 109, 1) 0%, rgba(0, 58, 99, 1) 20%, rgba(1, 49, 85, 1) 40%, rgba(0, 39, 70, 1) 60%, rgba(0, 29, 55, 1) 80%, rgba(1, 22, 46, 1) 100%) no-repeat;
}

.stars {
    color: white;
    background-image: url("/weathermap/img/stars.jpg");
    background-repeat: no-repeat;
}

.cloudy {
    /*background: linear-gradient(0deg, rgba(211, 211, 211, 1) 0%, rgba(158, 158, 158, 1) 45%, rgba(105, 105, 105, 1) 100%) no-repeat;*/
    background-image: url("/weathermap/img/clouds2.jpg");
    background-repeat: no-repeat;
    color: white;
}

.rain {
    color: black;
    /*background: linear-gradient(0deg, rgba(64, 108, 148, 1) 0%, rgba(99, 147, 164, 1) 25%, rgba(98, 148, 154, 1) 50%, rgba(76, 105, 114, 1) 75%, rgba(197, 240, 247, 1) 100%) no-repeat;*/
    background-image: url("/weathermap/img/rain.jpg");
    background-repeat: no-repeat;
}

.storm {
    background-image: url("/weathermap/img/storm.jpg");
    background-repeat: no-repeat;
}

.snow {
    /*background: linear-gradient(0deg, rgba(224, 255, 255, 1) 0%, rgba(255, 250, 250, 1) 35%, rgba(192, 246, 251, 1) 68%, rgba(147, 231, 251, 1) 100%) no-repeat;*/
    background-image: url("/weathermap/img/snow.jpg");
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    body {
        height: 100vh
    }

    .geocoder {
        display: flex;
        justify-content: flex-end;
    }

    #main-div {
        margin-top: 1em;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #main-info {
        margin-top: 0;
        flex-grow: 1;
    }

    #main-info .card {
        min-height: 350px;
    }

    #current-day-info {
        width: 50%;
    }

    #current-day-info .card-header h3 {
        font-size: 20px;
    }

    #current-day-info .card-body div h3 {
        font-size: 20px;
    }

    #current-day-info .card {
        min-height: 333px;
    }

    #curr_temps {
        font-size: 18px;
    }

    #other-data {
        font-size: 18px;
    }

    #carousel {
        min-height: 332px;
        width: 49%;
    }

    #carousel .card {
        min-height: 350px;
    }

    #city_time {
        align-self: flex-start;
    }

    .carousel-inner {
        width: 100%;
    }

    #map {
        height: 50vh;
    }
}

@media (min-width: 1024px) {
    body {
        height: 100%;
    }

    #main-div {
        height: 100vh;
    }

    #main-info .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #current-day-info {
        width: calc(40% - .5em);
        margin: 0 .2em 0 0;
        height: 50vh;
    }

    #current-day-info .card {
        width: 100%;
        height: 50vh;
    }

    #curr-temp {
        font-size: 25px;
    }

    #curr-cond {
        font-size: 28px;
    }

    #other-forecasts {
        width: calc(60% - .5em);
        height: 50vh;
        display: block;
    }

    #hourly {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #hourly .card {
        margin: .5em .2em;
        height: calc(50% - 1em);
        width: calc(16% - .4em);

    }

    #hourly .card .card-header {
        padding: 0;
        margin: 0;
        font-size: 12px;
        text-align: center;
    }

    #hourly .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5em;
    }

    #hourly .card-body div:first-of-type {
        margin-top: .5em;
    }

    #hourly .card-body div:last-of-type {
        margin-top: .2em;
        margin-bottom: 1em;
    }

    #hourly .card img {
        margin-top: auto;
        width: 50px;
    }

    #weather-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    #weather-cards .card {
        width: 33%;
        height: 180px;
        margin: .5em 0;
    }

    #weather-cards .card img {
        width: 50px;
    }

    #ad-space {
        border: 2px solid #28688C;
        border-radius: 10px;
        height: 100px;
        padding: .5em 1em;
        margin: 0 auto;
    }

    #map-div {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #map {
        margin-top: 1em;
        height: 600px;
        border: 3px solid #28688C;
        border-radius: 10px;
    }
}

@media (min-width: 1440px) {
    #current-day-info .card .card-body div {
        font-size: 30px;
    }

    #weather-cards {
        width: 100%;
    }

    #curr-cond {
        font-size: 28px;
    }

    #weather-cards .card .card-body {
        font-size: 18px;
    }

    #curr-temp h5 {
        font-size: 40px;
    }
}
